Package: com.chr1s.tiktokclearcomments
Name: TikTokClearComments
Version: 1.0.0
Architecture: iphoneos-arm
Description: Transparent comments section for tiktok
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
